

.landingpage{
    /* position: absolute; */
    /* left: 0px; */
    height: 5634px;

    background-color: #f3f3f3;
}

.MuiTypography-root{
    font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #1f0045;
	text-align: left;
}



body{    
    /* height: 5634px;

    background-color: #f3f3f3; */
}

.whatisiconicli {
    position: absolute;
    width: 300px;
    height: 42px;
    left: 145px;
    top: 792px;

    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    color: #000000;
}
