@media screen and (min-width: 700px) {
	.landingpage {
		/* position: absolute; */
		/* left: 0px; */
		height: 5634px;

		background-color: #f3f3f3;
	}

	.MuiTypography-root {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #1f0045;
		text-align: left;
		text-transform: "none";
	}
}
@media screen and (max-width: 700px) {
	.landingpage {
		position: relative;
		/* width: 360px; */
		height: 4054px;

		background: #f3f3f3;
	}

    .MuiTypography-root {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #1f0045;
		text-align: left;
		text-transform: "none";
	}
}
