@media screen and (min-width: 700px) {
	.NavbarHeader {
		position: fixed;
		width: 90%;
		height: 41px;
		left: 5%;
		top: 32px;
		background: #ffffff;
	}

	.NavbarRectangle {
		position: absolute;
		width: 105.58%;
		height: 105px;
		left: -15%;
		padding-right: 15%;
		top: -32px;
		background: #f3f3f3;
	}

	.LandingLogo {
		position: absolute;
		left: 0%;
		right: 84.18%;
		height: 25px;
		width: 200px;
		left: 0px;
		top: 8px;
	}

	.NavbarMenu {
		justify-content: center;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0px;

		position: absolute;
		left: 28.64%;
		right: 28.56%;
		top: 24.39%;
		bottom: 17.07%;
	}

	.Navbar_Login {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 8px 16px;

		position: absolute;
		left: 85.28%;
		right: 8.62%;
		top: 1.22%;
		bottom: 1.22%;

		background: #ffffff;
		border: 1px solid #1f0045;
		box-sizing: border-box;
		border-radius: 8px;
	}

	.Navbar_Signup {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 8px 16px;

		position: absolute;
		left: 93.12%;
		right: 0%;
		top: 1.22%;
		bottom: 1.22%;

		background: #1f0045;
		box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.25);
		border-radius: 8px;
	}
}

@media screen and (max-width: 700px) {
	.navbar {
		position: fixed;
		width: 100%;
		height: 44px;
		left: -15px;
		top: 0px;
	}

	.navbar .rect {
		position: absolute;
		width: 110%;
		height: 37px;
		left: 0px;
		top: 0px;

		background: #f3f3f3;
	}

	.navbar .left {
		position: absolute;
		width: 54px;
		height: 21px;
		left: 24px;
		top: 12px;
	}

	.navbar .left .time {
		position: absolute;
		width: 54px;
		height: 20px;
		left: 0px;
		top: 1px;

		/* Default/Bold/Subheadline */

		font-family: "SF Pro Text";
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		/* identical to box height, or 133% */

		text-align: center;
		letter-spacing: -0.5px;

		/* Label Color/Light/Primary */

		color: #000000;
	}

	.navbar .midbox{
		position: absolute;
	width: 219px;
	height: 30px;
	left: 78px;
	top: -2px;
	}

	.navbar .mid {
		position: absolute;
		width: 219px;
		height: 30px;
		left: calc(50% - 219px / 2);
		top: -2px;

		/* background: #000000; */
	}

	.navbar .right {
		position: absolute;
		width: 66.66px;
		height: 11.34px;
		left: 293.67px;
		top: 17.33px;
	}

	.navbar .right img {
        position: absolute;
        left: 0px;
        top:0px
	}
}
