.registerpage {
	position: relative;
	/* width: 1366px; */
	height: 768px;

	background: #f3f3f3;
}

.registerpage .rect {
	position: absolute;
	width: 480px;
	height: 768px;
	left: 0px;
	top: 0px;

	background: #8c52ff;
}

.registerpage .title {
	position: absolute;
	width: 200px;
	height: 25px;
	left: 46px;
	top: 46px;

	/* background: #1F0045; */
}

.registerpage .become {
	position: absolute;
	width: 412px;
	height: 120px;
	left: 34px;
	top: 134px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 60px;

	color: #ffffff;
}

.registerpage .instruction {
	position: absolute;
	width: 387px;
	height: 144px;
	left: 36px;
	top: 348px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;

	color: #ffffff;
}

.registerpage .chooseicon {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 698px;
	top: 56px;
}

.registerpage .choose {
	position: absolute;
	width: 450px;
	height: 48px;
	left: 700px;
	top: 142px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	/* identical to box height */

	color: #1f0045;
}

.registerpage .enable {
	position: absolute;
	width: 411px;
	height: 24px;
	left: 700px;
	top: 214px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #6c6c6c;
}

.registerpage .model {
	position: absolute;
	width: 447px;
	height: 104px;
	left: 700px;
	top: 302px;
}

.registerpage .model .modelicon {
	position: absolute;
	width: 72px;
	height: 64px;
	left: 40px;
	top: 20px;
}

.registerpage .model .rect {
	box-sizing: border-box;

	position: absolute;
	width: 447px;
	height: 104px;
	left: 0px;
	top: 0px;

	background: #ded3f5;
	border: 3px solid #8c52ff;
	border-radius: 8px;
}

.registerpage .model .choice {
	position: absolute;
	width: 134px;
	height: 44px;
	left: 158px;
	top: 15px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 2px;

	color: #1f0045;
}

.registerpage .model .star {
	position: absolute;
	width: 109px;
	height: 18px;
	left: 159px;
	top: 66px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height */

	color: #1f0045;
}

.registerpage .client {
	position: absolute;
	width: 447px;
	height: 104px;
	left: 700px;
	top: 428px;
}

.registerpage .client .rect {
	position: absolute;
	width: 447px;
	height: 104px;
	left: 0px;
	top: 0px;

	background: #ffffff;
	border-radius: 8px;
}

.registerpage .client .modelicon {
	position: absolute;
	width: 72px;
	height: 64px;
	left: 40px;
	top: 20px;
}

.registerpage .client .choice {
	position: absolute;
	width: 134px;
	height: 44px;
	left: 158px;
	top: 15px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 2px;

	color: #1f0045;
}

.registerpage .client .star {
	position: absolute;
	width: 109px;
	height: 18px;
	left: 159px;
	top: 66px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height */

	color: #1f0045;
}

.registerpage .nextstep {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 167px;
	height: 60px;
	left: 840px;
	top: 572px;
}

.registerpage .nextstep .box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 32px;

	position: absolute;
	left: 0%;
	right: -0.6%;
	top: 0%;
	bottom: 0%;

	background: #1f0045;
	border-radius: 8px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 0px;
}

.registerpage .nextstep .text{
    position: absolute;
width: 120px;
height: 28px;
left: 25px;
top: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
/* margin: 0px 10px; */
}