.whyjoin {
	display: flex;
	/* flex-direction: column; */
	/* justify-content: center; */
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 440px;
	height: 70px;
	left: 145px;
	top: 3612px;
}

.whyjoin .text {
	position: absolute;
	width: 440px;
	height: 42px;
	left: 0px;
	top: 28px;

	text-align: left;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 42px;
	/* identical to box height */

	color: #1f0045;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	/* margin: 22px 0px; */
}

.whyjoinmodel {
	position: absolute;
	width: 505px;
	height: 292px;
	left: 145px;
	top: 3778px;
}

.whyjoinclient {
	position: absolute;
	width: 493px;
	height: 292px;
	left: 716px;
	top: 3778px;
}

.whyjoinmodel .title {
	position: absolute;
	width: 130px;
	height: 30px;
	left: 0px;
	top: 0px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	/* identical to box height */

	color: #1f0045;
}
.whyjoinclient .title {
	position: absolute;
	width: 130px;
	height: 30px;
	left: 0px;
	top: 0px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	/* identical to box height */

	color: #1f0045;
}
.whyjoinmodel .rect {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 2px;
	top: 79px;
	background-color: #8c52ff;
}
.whyjoinclient .rect {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 2px;
	top: 79px;
	background-color: #8c52ff;
}

.whyjoinmodel .img {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 10px;
	top: 71px;
}
.whyjoinclient .img {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 10px;
	top: 71px;
}

.whyjoinmodel .contenttitle {
	position: absolute;
	width: 211px;
	height: 60px;
	left: 230px;
	top: 71px;

	text-align: left;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;

	color: #1f0045;
}
.whyjoinclient .contenttitle {
	position: absolute;
	width: 211px;
	height: 60px;
	left: 230px;
	top: 71px;

	text-align: left;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;

	color: #1f0045;
}

.whyjoinmodel .content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	position: absolute;
	width: 283px;
	height: 156px;

	left: 222px;
	top: 136px;
	/* margin: 10px; */
}

.whyjoinclient .content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	position: absolute;
	width: 283px;
	height: 156px;

	left: 222px;
	top: 136px;
	/* margin: 10px; */
}

.whyjoinmodel .content .text {
	position: absolute;
	width: 263px;
	height: 136px;
	left: 10px;
	top: 10px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;

	text-align: left;

	color: #1f0045;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	/* margin: 0px 10px; */
}
.whyjoinclient .content .text {
	position: absolute;
	width: 280px;
	height: 136px;
	left: 10px;
	top: 10px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;

	text-align: left;

	color: #1f0045;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	/* margin: 0px 10px; */
}

.whyjoinline {
	position: absolute;
	width: 0px;
	height: 210px;
	left: 683px;
	top: 3849px;
	background-color: #ffc710;
	border: 1px solid #ffc710;
	transform: rotate(0deg);
}

.bepart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;

	position: absolute;
	width: 764px;
	height: 168px;
	left: 301px;
	top: 4213px;
}

.bepart .title {
	position: absolute;
	width: 450px;
	height: 28px;
	left: 166px;
	top: 0px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 100%;

	color: #1f0045;

	flex: none;
	order: 0;
	flex-grow: 0;
	/* margin: 20px 0px; */
}

.bepart .text {
	position: absolute;
	width: 830px;
	height: 120px;
	left: 0px;
	top: 48px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	/* or 167% */

	text-align: center;
	letter-spacing: 1.5px;

	color: #1f0045;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	/* margin: 20px 0px; */
}

.bepartdia {
	position: absolute;
	width: 699px;
	height: 178px;
	left: 333px;
	top: 4485px;
}

.bepartdia img {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0px;
}

.bepartdia .line {
	position: absolute;
	width: 48px;
	height: 0px;
	top: 98px;
	background-color: #ffc710;
	border: 1px solid #ffc710;
}

.bepartdia .gender {
	position: absolute;
	width: 100px;
	height: 60px;
	left: 0px;
	top: 118px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	/* or 150% */

	text-align: center;
	letter-spacing: 1.5px;

	color: #1f0045;
}

.bepartdia .decent {
	position: absolute;
	width: 240px;
	height: 60px;
	left: 220px;
	top: 118px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	/* or 150% */

	text-align: center;
	letter-spacing: 1.5px;

	color: #1f0045;
}

.bepartdia .reduced {
	position: absolute;
	width: 140px;
	height: 60px;
	left: 559px;
	top: 118px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;

	text-align: center;
	letter-spacing: 1.5px;

	color: #1f0045;
}

@media screen and (max-width: 700px) {
	.join {
	}

	.join .title {
		position: absolute;
		left: 11.11%;
		right: 11.11%;
		top: 74.3%;
		bottom: 23.93%;

		font-family: "Poppins";
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		text-align: center;

		color: #1f0045;
	}

	.join .gender {
		width: 64px;
		height: 64px;
		position: absolute;
		left: 5.56%;
		right: 76.67%;
		top: 77.08%;
		bottom: 21.34%;
		border-radius: 50%;
		background: #1f0045;
	}

	.join .decent {
		position: absolute;
		width: 64px;
		height: 64px;
		left: 20px;
		top: 3229px;
		border-radius: 50%;
	}
	.join .reduced {
		position: absolute;
		width: 64px;
		height: 64px;
		left: 20px;
		top: 3333px;
		border-radius: 50%;
	}

	.join .line1 {
		position: absolute;
		width: 0px;
		height: 64px;
		left: 100px;
		top: 3125px;
		background-color: #ffc710;
		border: 1px solid #ffc710;
	}
	.join .line2 {
		position: absolute;
		width: 0px;
		height: 64px;
		left: 100px;
		top: 3229px;
		background-color: #ffc710;

		border: 1px solid #ffc710;
	}
	.join .line3 {
		position: absolute;
		width: 0px;
		height: 64px;
		left: 100px;
		top: 3333px;
		background-color: #ffc710;

		border: 1px solid #ffc710;
		/* transform: rotate(-90deg); */
	}
	.join .text .gen {
		position: absolute;
		width: 154px;
		height: 20px;
		left: 123px;
		top: 3147px;

		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		/* identical to box height, or 111% */

		text-align: center;
		letter-spacing: 0.5px;

		color: #1f0045;
	}
	.join .text .decent {
		position: absolute;
		width: 255px;
		height: 40px;
		left: 125px;
		top: 3241px;

		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		/* or 111% */

		letter-spacing: 0.5px;

		color: #1f0045;
	}
	.join .text .reduced {
		position: absolute;
		width: 203px;
		height: 20px;
		left: 125px;
		top: 3355px;

		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		/* identical to box height, or 111% */

		text-align: center;
		letter-spacing: 0.5px;

		color: #1f0045;
	}
	.join .byusing {
		position: absolute;
		width: 308px;
		height: 270px;
		left: 26px;
		top: 3442px;

		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		/* or 188% */

		letter-spacing: 1.5px;

		color: #1f0045;
	}
}
